{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    Login Page
{% endblock %}
{% block title %}
 MyBank

{% endblock %}

{% block content %}
<div>
    <h1>Applicant Form</h1>
    <form method="post">
        {% csrf_token %}
<!--        {{ form.as_p }}-->
        <label for="id_district">District:</label>
        {{ form.district }}
        {% if form.district.errors %}
            <div class="error">{{ form.district.errors }}</div>
        {% endif %}
        <br>
        <label for="id_branch">Branch:</label>
        {{ form.branch }}
        {% if form.branch.errors %}
            <div class="error">{{ form.branch.errors }}</div>
        {% endif %}
        <br>

        <button type="submit">Submit</button>
    </form></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const districtSelect = document.querySelector('.district-select');
            const branchSelect = document.querySelector('.branch-select');

            districtSelect.addEventListener('change', function() {
                const selectedDistrictId = this.value;
                console.log('Selected District ID:', selectedDistrictId);
                fetch(`/get_branches/${selectedDistrictId}/`)
                .then(response => response.json())
                .then(data => {
                    // Clear the existing options
                    while (branchSelect.firstChild) {
                        branchSelect.removeChild(branchSelect.firstChild);
                    }

                    // Add new options based on the received data
                    data.forEach(branch => {
                        const option = document.createElement('option');
                        option.value = branch.id;
                        option.text = branch.name;
                        branchSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error fetching branches:', error);
                });
            });
        });
    </script>
{% endblock %}
