{% load static %}
{% include 'header.html' %}
<!-- Add the Bootstrap CSS link -->

  <div class="hero_area" >
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid"  style="color: blue;">
        <nav class="navbar navbar-expand-lg custom_nav-container " style="background-color: #000000;>
          <a class="navbar-brand" href="index.html">
            <span>MYBANK</span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
                {% if user.is_authenticated %}
                <li style="color: blue;"> Hello {{user.username}}</li>
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'logout' %}"><i  style="color: blue;">Logout</i><span class="sr-only">(current)</span></a>
              </li>
                {% else %}


              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"> Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
              </li>
<!--               <li class="nav-item dropdown">-->
<!--  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--    Branches-->
<!--  </a>-->

<!--  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--&lt;!&ndash;    <li><a class="dropdown-item" href="#">Branches</a></li>&ndash;&gt;-->
<!--    &lt;!&ndash; Add your dynamic dropdown items here &ndash;&gt;-->
<!--    {% for district in districts %}-->
<!--      <li><a class="dropdown-item" href="{% url 'district_wikipedia' district.id %}">{{ district.name }}</a></li>-->
<!--    {% endfor %}-->
<!--  </ul>-->
<!--</li>-->
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
              {% endif %}

            <div class="quote_btn-container">
<!--              <form class="form-inline">-->
<!--                <button class="btn   nav_search-btn" type="submit">-->
<!--                  <i class="fa fa-search" aria-hidden="true"></i>-->
<!--                </button>-->
<!--              </form>-->
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call : +01 123455678990
                </span>
              </a>
            </div>
          </div>
        </nav>

      </div>
    </header>


